/EjercicioIntegradorCondiconales/nbproject/private/
/EjercicioIntegradorCondiconales/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/EstructuraWhile/nbproject/private/
/EstructuraWhile/build/
/EstructuraWhile2/nbproject/private/
/EstructuraWhile2/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/EstructuraFOR/nbproject/private/
/EstructuraFOR/build/
/Ejercicio1EstructurasRepetitivas/nbproject/private/
/Ejercicio1EstructurasRepetitivas/build/
/Ejercicio2Palabras/nbproject/private/
/Ejercicio2Palabras/build/
/Ejercicio2PalabrasCentinela/nbproject/private/
/Ejercicio2PalabrasCentinela/build/
/Ejercicio3MaratonRepetitivo/target/
/Ejercicio4ArbolitoNavidadRepetitivas/target/
/ArregloVectorRepetitivo/target/
/PromedioNotas/nbproject/private/
/PromedioNotas/build/
